@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body{
	font-family: 'Open Sans', sans-serif;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#header{
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.topHeader{
	border-bottom:1px solid #dddddd;
	padding: 5px 0;
}

.topInfo{
	font-size: 12px;
	margin-top: 13px;
}

.topInfo li{
	float: left;
	margin-right: 15px;
}	

.topSocialIcons li{
	float: left;
	font-size: 30px;
	margin-right: 10px;
}

.topSocialIcons li a:link, .topSocialIcons li a:visited{
	color: #3b3f42;
}

.topSocialIcons li a:hover, .topSocialIcons li a:active{
	color: #43b4f9;
}

#logo{
	margin-top: 10px;
	margin-bottom: 15px;
	display: inline-block;
}

.navbar-default{
	border: none;
	margin-top: 25px;
	font-weight: 600;
}

.navbar-nav li{
	position: relative;
	text-transform: uppercase;
	font-size: 13px;
}

.navbar-default .navbar-nav>li>a{
	color: #3b3f42;
}

.navbar-nav > li > ul{
	position: absolute;
	left: 0px;
	background-color: #fff;
	min-width: 200px;
	display: none;
	font-weight: 300;
	border-top: 3px solid #43b4f9;
}

.navbar-nav > li:hover > ul{
	background-color: #fff;
	min-width: 200px;
	display: block;
}

.navbar-nav > li > ul > li{
	position: relative;
}

.navbar-nav > li > ul > li > a{
	color: #666;
	padding: 8px 15px;
	font-size: 13px;
	display: block;
	border-bottom: 1px solid #dde2e5;
}

.navbar-nav > li > ul > li > a:hover{
	color: #43b4f9;
	text-decoration: none;
}

.navbar-nav > li > ul > li > ul{
	position: absolute;
	left: 100%;
	top: -3px;
	background-color: #fff;
	min-width: 200px;
	display: none;
	border-top: 3px solid #43b4f9;
}

.navbar-nav > li > ul > li:hover > ul{
	display: block;
}

.navbar-nav > li > ul > li > ul > li{
	position: relative;
}

.navbar-nav > li > ul > li > ul > li > a{
	color: #666;
	padding: 10px 15px;
	font-size: 13px;
	display: block;
	border-bottom: 1px solid #dde2e5;
}

.navbar-nav > li > ul > li > ul > li > a:hover{
	color: #43b4f9;
	text-decoration: none;
}

.navbar-nav > li > ul > li > ul > li > ul{
	position: absolute;
	left: 100%;
	top: 0px;
	background-color: #fff;
	min-width: 200px;
	display: none;
	border-top: 3px solid #43b4f9;
}

.navbar-nav > li > ul > li > ul > li:hover > ul{
	display: block;
}

.navbar-nav > li > ul > li > ul > li > ul > li > ul{
	position: relative;
}

.navbar-nav > li > ul > li > ul > li > ul > li > a{
	color: #666;
	padding: 10px 15px;
	font-size: 13px;
	display: block;
	border-bottom: 1px solid #dde2e5;
}

.navbar-nav > li > ul > li > ul > li > ul > li > a:hover{
	color: #43b4f9;
	text-decoration: none;
}

.navbar-nav li.search-link .search-area{
	position: absolute;
	background-color: #fff;
	right: 0px;
	border: 1px solid #dde2e5;
	padding: 10px;
	display: none;
}

.navbar-nav li.search-link .search-area input[type="text"]{
	padding: 5px;
	border: 1px solid #e8e8e8;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.navbar-nav li.search-link .search-area input[type="text"]:focus{
	outline: none;
	border: 1px solid #43b4f9;
}

.navbar-nav li.search-link .search-area button[type="submit"]{
	background-color: #43b4f9;
	color: #eee;
	padding: 6px 10px;
	border: none;
	position: absolute;
	top: 11px;
	right: 11px;
}

#slider{
	position: relative;
	z-index: 1;
}

.formArea{
    position: absolute;
    top:14%;
    right: 9%;
    width: 20%;
    z-index: 999;
    background-color: rgba(0,0,0,.8);

    border-radius: 5px;
    padding: 1%;
}

.formArea ::-webkit-input-placeholder {
   color: #333;
}

.formArea :-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

.formArea ::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

.formArea :-ms-input-placeholder {  
   color: #333;  
}

.formArea select{
    color: #333;
}

.formArea h3{
    text-align: center;
    color: white
}

.formArea input[type="text"]{
    margin: 3px 0 0 0;
    width: 100%;
    padding: 10px;
}

.formArea select{
    margin: 3px 0 0 0;
    width: 100%;
    padding: 10px;
}

.formArea input[type="submit"]{
    margin: 10px 0 0 0;
    text-align: center;
    padding: 10px 25px;
    float: right;
    background-color: #43b4f9;
    color: #eee;
    text-transform: uppercase;
    border: none;
}

.formArea input[type="submit"]:hover{
	background-color: #333;
}

#serviceSection{
	padding: 50px 0;
}

.serviceBox .iconHolder{
	margin-bottom: 20px;
}

.serviceBox .iconHolder i{
	line-height: 100px;
	font-size: 70px;
	border: 2px solid #3a393d;
	border-radius: 200px;
	width: 100px;
	height: 100px;
}

.serviceBox h4{
	font-weight: 700;
	font-size: 18px;
}

.serviceBox p{
	color: #666;
	line-height: 1.6em;
}

.serviceBox a:link, .serviceBox a:visited{
	color: #43b4f9;
	text-transform: lowercase;
}

.serviceBox a:hover, .serviceBox a:active{
	color: #3b3f42;
}

#banner{
	margin-bottom: 50px;
}

#events{
	margin-bottom: 50px;
}

#events h2{
	font-weight: 500;
	font-size: 21px;
}

.separator {
	margin: 20px 0 0;
	padding:0;
	height: 1px;
	background-color:#e5eaec;
	width: 100%;
	position: relative;
}
.separator.short {
	max-width: 370px;
}
.separator.fullwidth {
	max-width: 100%;
}

.separator_line {
	width: 30px;
	height: 3px;
	background-color: #43b4f9;
	position: absolute;
	top: -1px;
	left: 45%;
}

.separator.short {
	margin-right: auto;
	margin-left: auto;
}

.eventBox{
	border: 1px solid #e5eaec;
	margin-top: 20px;
	padding-bottom: 20px;
}

.logoBox{
	float: left;
	position: relative;
	top: -25px;
	margin-left: 30px;
	border: 1px solid #eee;
}

.eventBox h6{
	margin-left: 20px;
	float: left;
	margin-top: 15px;
	text-transform: uppercase;
}

.eventBox h4{
	font-size: 13px;
	font-weight: 700;
	margin-left: 20px;
}

.eventBox h5{
	font-size: 12px;
	font-weight: 500;
	margin-left: 20px;
	color: #999;
}

.eventBox p{
	font-size: 13px;
	font-weight: 500;
	margin-left: 20px;
	margin-right: 20px;
	color: #666;
	line-height: 1.8em;
}

.eventBox a:link, .eventBox a:visited{
	font-size: 13px;
	font-weight: 500;
	margin-left: 20px;
	margin-right: 20px;
	color: #43b4f9;
}

.eventBox a:hover, .eventBox a:active{
	color: #3b3f42;
}

#courses{
	margin-bottom: 50px;
	border-top: 1px solid #ebebeb;
	padding-top: 50px;
}

#courses h2{
	font-weight: 500;
	font-size: 21px;
}

.listStyle{
	text-align: left;
	font-size: 13px;
	margin: 20px 0;
}

.listStyle li{
	color: #454545;
	padding: 5px 0;
}

.listStyle li i{
	color: #43b4f9
}

#ourMentor{
	background-color: #eeeeee;
	background-image: url(../images/our-mentors.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	padding: 50px 0;
	margin-bottom: 50px;
}

#ourMentor h2{
	font-weight: 500;
	font-size: 21px;
}

#ourMentor p{
	line-height: 1.8em;
	color: #666;
}

#clientCarousel{
	margin-bottom: 50px;
	border-top: 1px solid #ebebeb;
	padding-top: 30px;
}

#clientCarousel h2{
	font-weight: 500;
	font-size: 21px;
}

#myCarouselClient, #myCarouselSpeak{
	margin: 30px 0;
}

#myCarouselClient .carousel-control.right, #myCarouselClient .carousel-control.left, #myCarouselSpeak .carousel-control.right, #myCarouselSpeak .carousel-control.left{
	background-image: none;
}

.glyphicon-chevron-right:before, .glyphicon-chevron-left:before{
	color: #43b4f9;
}

#myCarouselClient .carousel-control, #myCarouselSpeak .carousel-control{
	top: -185px;
}

#b2brelation{
	margin-bottom: 50px;
	border-top: 1px solid #ebebeb;
	padding-top: 30px;
}

#b2brelation h2{
	font-weight: 500;
	font-size: 21px;
}

#b2brelation img{
	margin-top: 30px;
}

#gallery{
	margin-bottom: 50px;
	border-top: 1px solid #ebebeb;
	padding-top: 30px;
}

#gallery h2{
	font-weight: 500;
	font-size: 21px;
}

#gallery img{
	margin-top: 30px;
}

.counter{
	margin: 25px 0;
}

.counter span{
	font-size: 70px;
	color: #43b4f9;
}

#offices{
	background-color: #43b4f9;
	padding: 30px 0 20px;
	color: #1b394d;
}

#offices h5{
	font-size: 21px;
	color: #1b394d;
}

#offices h5 span{
	color: #eee;
}

#offices p span{
	color: #eee;
}

#footer{
	border-top: 0px solid #142b3a; 
	background-color: #223e50; 
	background-image: url("../images/footer-bg.jpg"); 
	background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
		background-size: cover;	?>

	color:#ffffff;
	padding: 50px  0 10px 0;
}

#footer h5{
	color: #eee;
	font-size: 12px;
}

#footer .separator_line{
	left: 0px;
}

.footerLinks{
	font-size: 13px;
	margin: 30px 0;
}

.footerLinks li{
	position: relative;
	padding-left: 20px;
}

.footerLinks li a{
	margin: 12px 0;
	display: block;
	color: #eee;
}

#footer ul.footerLinks li:before{
	content: "";
    width: 4px;
    height: 4px;
    -webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
    background-color: #43b4f9;
    float: left;
    margin-right: 14px;
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
}

#footerBottom{
	padding: 20px 0;
}

#footerBottom h5{
	font-size: 13px;
	color: #333;
	font-weight: 500;
}

.foterSocial{

}

.foterSocial a:link, .foterSocial a:visited{
	background-color: #43b4f9;
	color: #eee;
	width: 35px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	text-align: center;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.foterSocial a:hover, .foterSocial a:active{
	background-color: #155a9e;
}

.subsForm{
    position: relative;
}

.subsForm input[type="text"]{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px 11px;
    width: 100%;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.subsForm input[type="text"]:focus{
	outline: none;
	border: 1px solid #43b4f9;
}

.subsForm input[type="submit"]{
    position: absolute;
    top: 1px;
    right: 0px;
    padding: 11px 35px 11px;
    background-image: url(../images/submit.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: #43b4f9;
}

#copyRight{
	background-color: #142b3a;
	padding: 20px 0 10px;
	color: #eee;
}

#breadCrumb{
	background-color: #42b4f9;
	padding: 20px 0;
	color: #eee;
}

#breadCrumb h3{
	color: #eee;
	font-size: 19px;
	margin-top: 10px;
	font-weight: 600;
}
#breadCrumb h1{
	color: #eee;
	font-size: 19px;
	margin-top: 10px;
	font-weight: 600;
}

#breadCrumb a{
	margin-top: 10px;
	display: inline-block;
	color: #eee;
}

#mainArea{
	padding: 50px 0;
}

h4.panel-title{
	font-size: 13px;
}

.registrationButton{
	padding: 15px 40px;
	display: inline-block;
	background-color: #42b4f9;
	color: #eee;
	border-bottom: 3px solid #2e84be;
	border-radius: 3px;
	text-transform: uppercase;
}

.registrationButton:hover{
	background-color: #333333;
	color: #eee;
	border-color: #434343;
	text-decoration: none;
}

.widgetArea{
	margin: 30px 0;
}

.widgetArea h5{
	font-size: 14px;
	font-weight: 600;
}

.listStyleCourses{
    margin:0px;
    list-style: none;
    padding: 0;
}

.listStyleCourses li{
    border: 1px solid #eee;
    padding: 10px;
}

.listStyleCourses li h4{
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 15px;
    margin-top: 0px;
}

.listStyleCourses li a{
    float: right;
}

.enquiryForm input[type="text"]{
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
}

.enquiryForm select{
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
}

.enquiryForm textarea{
	width: 100%;
	height: 100px;
	padding: 8px;
	margin-bottom: 10px;
}

.enquiryForm input[type="submit"]{
	padding: 10px 30px;
	display: inline-block;
	background-color: #42b4f9;
	color: #eee;
	border: none;
	border-bottom: 3px solid #2e84be;
	border-radius: 3px;
	text-transform: uppercase;
}

.enquiryForm input[type="submit"]:hover{
	background-color: #333333;
	color: #eee;
	border-color: #434343;
	text-decoration: none;
}

.coursesArea{

}

.coursesArea h4{
	margin-bottom: 20px;
}

.coursesArea h6{
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 13px;
}

.coursesArea p{
	line-height: 1.8em;
	color: #454545;
	font-size: 13px;
}

.magic-accordion{
	margin: 30px 0;
}

.magic-accordion h2{
	border: 1px solid #e8e8e8;
	font-size: 11px;
	color: #454545;
	padding: 12px 20px 12px 40px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px;
	cursor: pointer;
	background-image: url(../images/plus.jpg);
	background-repeat:no-repeat;
	background-position: 15px center;
}

.magic-accordion h2.active{
	background-image: url(../images/minus.jpg) !important;
}

.magic-accordion .body{
	padding: 12px;
	border: 1px solid #e8e8e8;
	margin-bottom: 5px;
}

.magic-accordion .head{
	margin-bottom: 5px;
}

.magic-accordion .active{
	margin-bottom: 0px;
}

.detailsStyle h3{
	margin-bottom: 20px;
}

.detailsStyle .separator.short{
	margin-left: 0px;
	margin-bottom: 20px;
}

.detailsStyle .separator_line{
	left: 0px;
}

.detailsStyle p{
	line-height: 1.8em;
	color: #454545;
	font-size: 13px;
}

.detailsStyle h4{
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 18px;
	text-transform: uppercase;
}

.detailsStyle ul{
	list-style: square;
	line-height: 1.8em;
	color: #454545;
	font-size: 13px;
	margin-left: 15px;
}

.detailsStyle ul li{
	margin-bottom: 15px;	
}

.aboutBottom{
	background-color: #eee;
	padding: 50px 0;
}

.searchForm{
	margin-bottom: 20px;
}

.searchForm input[type="text"]{
	padding: 7px;
	border: 1px solid #e8e8e8;
	width: 100%;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.searchForm input[type="text"]:focus{
	border-color: #bebebe; 
	outline: none;
}

.widgetArea address{
	font-size: 13px;
	color: #454545;
	line-height: 1.8em;
}

.onlineRegistration{
	margin: 30px 0;
}

.onlineRegistration input[type="text"]{
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	margin-bottom: 10px;

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.onlineRegistration input[type="text"]:focus{
	border-color: #bebebe; 
	outline: none;
}

.onlineRegistration select{
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	margin-bottom: 10px;

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.onlineRegistration select:focus{
	border-color: #bebebe; 
	outline: none;
}

.onlineRegistration textarea{
	width: 100%;
	padding: 8px;
	height: 100px;
	border: 1px solid #ccc;
	margin-bottom: 10px;

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.onlineRegistration textarea:focus{
	border-color: #bebebe; 
	outline: none;
}

.onlineRegistration input[type="submit"]{
	padding: 10px 30px;
	display: inline-block;
	background-color: #42b4f9;
	color: #eee;
	border: none;
	border-bottom: 3px solid #2e84be;
	border-radius: 3px;
	text-transform: uppercase;
	float: right;
}

.onlineRegistration input[type="submit"]:hover{
	background-color: #333333;
	color: #eee;
	border-color: #434343;
	text-decoration: none;
}

.coursesArea h4{
	text-transform: uppercase;
}

.coursesArea ul{
	list-style: square;
	margin: 15px 20px 15px 15px;
	font-size: 13px;
	color: #454545;
}

.coursesArea ul li{
	margin: 10px 0;
}

.coursesArea table{
	width: 100%;
}

.coursesArea tr th{
	padding: 10px;
	font-size: 13px;
	border: 1px solid #efefef;
}

.coursesArea tr td{
	padding: 10px;	
	font-size: 13px;
	border: 1px solid #efefef;
}

.serviceIcon{
	clear: both;
	margin-bottom: 20px;
}

.servicePic{
	width: 17%;
	float: left;
	background-color: #eee;
	padding: 30px 0;
	text-align: center;
	border-right: 3px solid #ccc;
	margin-right: 2%;
}

.serviceContent{
	width: 81%;
	float: left;
}

.serviceContent h3{
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 1px dashed #999;
	padding-bottom: 13px;
}
#inline{
	width: 300px;

    border-radius: 5px;
    padding: 1%;
}

#inline form h3{
	color: #333 !important;
}

#inline ::-webkit-input-placeholder {
   color: #333;
}

#inline :-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

#inline ::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

#inline :-ms-input-placeholder {  
   color: #333;  
}

#inline select{
    color: #333;
}

#inline h3{
    text-align: center;
    color: white
}

#inline input[type="text"]{
    margin: 5px 0 0 0;
    width: 100%;
    padding: 10px;
}

#inline select{
    margin: 5px 0 0 0;
    width: 100%;
    padding: 10px;
}

#inline input[type="submit"]{
    margin: 10px 0 0 0;
    text-align: center;
    padding: 10px 25px;
    float: right;
    background-color: #43b4f9;
    color: #eee;
    text-transform: uppercase;
    border: none;
}

#inline input[type="submit"]:hover{
	background-color: #333;
}



@media screen and (min-width: 100px) and (max-width: 767px) {
	.formArea{
		display: none;
	}

	#myCarouselClient .text-left, #myCarouselSpeak .text-left{
		text-align: center !important;
	}

	.img-responsive{
		margin: 0 auto
	}

	.navbar-nav > li > ul{
		min-width: 100%;
		position: static;
	}

	.navbar-nav > li > ul > li > ul{
		min-width: 100%;
		position: static;
	}

	.navbar-nav > li > ul > li > ul > li > ul{
		min-width: 100%;
		position: static;
	}

	.registrationButton{
		margin-top: 30px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	.nav>li>a{
		padding: 10px 10px;
	}

	.formArea{
		width: 27%;
		top: 1%;
	}

	.formArea input[type="text"]{
		padding: 5px;
	}

	.formArea select{
		padding: 5px;
	}
}

@media screen and (min-width: 200px) and (max-width: 768px){
	#ourMentor{
		background-image: none;
	}
}



.eventsBoxNew{
	border: 1px solid #eee;
	margin: 0 0 30px 0;
	position: relative;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.eventsBoxNew:hover{
	border-color: #155a9e
}

.dateBox{
	background-color: #42b4f9;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 21px;
	padding: 0 0 5px 0;
}

.dateBox span{
	display: block;
	border-bottom: 1px dotted white;
	background-color: #155a9e;
	padding: 5px 0 0 0;
}

.eventsBoxNew h4{
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 600;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.eventsBoxNew h5{
	font-size: 14px;
	font-weight: 400;
	margin: 15px 0 10px 0;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.eventsBoxNew h6{
	font-size: 14px;
	font-weight: 400;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.eventsBoxNew h5 span, .eventsBoxNew h6 span{
	color: #42b4f9;
	font-weight: 600;
}

.eventsBoxNew .lastDate{
	position: absolute;
	background-color: #155a9e;
	padding: 5px 10px;
	right: 0px;
	top: -20px;
	color: white;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.eventsBoxNew .lastDate p{
	margin: 0px;
}

.eventsBoxNew:hover .lastDate{
	background-color: #42b4f9
}